.TaskList {
  background-color: #14a085;
  min-height: 100vh;
  color: white;
}

.TaskList-form {
  border-style: none;
}

.TaskList-form:focus {
  outline-color: white;
}

.TaskList-header {
  height: 20vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.TaskList-list {
  background-color: #4fba6f;
  list-style-position: outside;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.TaskList-listbutton {
  background-color: #4fba6f;
  color: white;
  border-style: none;
  font-size: calc(2vmin);
  font-weight: bold;
}

.TaskList-listbutton:focus {
  outline-style: none;
}

.TaskList-listbutton-selected {
  background-color: #14a085;
  color: white;
  border-style: none;
  font-size: calc(2vmin);
  font-weight: bold;
}

.TaskList-listbutton-selected:focus {
  outline-style: none;
}

.TaskList-listitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TaskList-link {
  color: #09d3ac;
}
