$black: #282c34;
$spring-green: #4fba6f;
$turquoise: #14a085;
$background: $black;
$accent-1: $turquoise;
$accent-2: $spring-green;

.TaskList {
  background-color: $accent-1;
  min-height: 100vh;
  color: white;
}

.TaskList-editform {
  display: flex;
  justify-content: flex-start;
  max-width: calc(100% - 4em); /* To allow space for buttons */
  padding: 0;
}

.TaskList-forminput {
  border-style: none;
  min-width: 40%;
  max-width: 100%;
}

.TaskList-forminput:focus {
  outline-color: white;
}

.TaskList-header {
  height: 20vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vw);
}

.TaskList-list {
  background-color: $accent-2;
  list-style-position: outside;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.TaskList-listbutton {
  background-color: $accent-2;
  color: white;
  border-style: none;
  font-size: calc(1em + 1px);
  font-weight: bold;
}

.TaskList-listbutton:focus {
  outline-style: none;
}

.TaskList-listbutton-selected {
  background-color: $accent-1;
  color: white;
  border-style: none;
  font-size: calc(1em + 1px);
  font-weight: bold;
}

.TaskList-listbutton-selected:focus {
  outline-style: none;
}

.TaskList-listitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TaskList-link {
  color: #09d3ac;
}

.TaskList-newform {
  max-width: 80%;
  margin: auto;
}
